import(tidyverse)
import(stringr)
import(vegan)
import(phyloseq)

export(make_tidyamplicons)
export(tidy_phyloseq)
export(process_sample_selection)
export(process_taxon_selection)
export(process_abundance_selection)
export(report_numbers)
export(merge_samples)
export(merge_taxa)
export(merge_tidyamplicons)
export(add_rel_abundance)
export(add_max_rel_abundance)
export(add_total_rel_abundance)
export(add_rel_occurrence)
export(add_taxon_name)
export(add_taxon_name_color)
export(add_lib_size)
export(add_diversity_measures)
export(get_rel_abundance_matrix)
export(get_betas)
export(add_sample_clustered)
export(add_pcoa)
export(process_new_sample_name)
export(get_abundances_extended)
export(update_lib_sizes)
export(get_bar_plot)
export(get_history_plot)
