# packages to import
import(ggplot2)
import(tidyr)
import(dplyr)
import(stringr)
import(vegan)
import(phyloseq)

# initializers
export(make_tidyamplicons)
export(tidy_phyloseq)
export(as_phyloseq)

# processors
export(process_sample_selection)
export(process_taxon_selection)
export(process_abundance_selection)
export(process_new_sample_name)

# library_sizes
export(update_lib_sizes)

# mergers
export(merge_samples)
export(merge_taxa)
export(merge_tidyamplicons)
export(trim_asvs)

# secondary_variables_abundances
export(add_rel_abundance)

# secondary_variables_taxa
export(add_max_rel_abundance)
export(add_total_rel_abundance)
export(add_rel_occurrence)
export(add_taxon_name)
export(add_taxon_name_color)

# secondary_variables_samples
export(add_lib_size)
export(add_diversity_measures)
export(add_sample_clustered)
export(add_pcoa)
export(add_spike_ratio)

# getters_data
export(report_numbers)
export(get_numbers)
export(get_rel_abundance_matrix)
export(get_betas)
export(get_abundances_extended)

# getters_plots
export(get_bar_plot)
export(get_history_plot)

# verbs
export(select_samples)
export(select_taxa)
export(select_abundances)
export(mutate_samples)
export(mutate_taxa)
export(mutate_abundances)
export(filter_samples)
export(filter_taxa)
export(filter_abundances)
